<div class="container">
  <!-- <app-parent-component></app-parent-component>
  <app-directive-example></app-directive-example> -->
  <!-- <app-new-account></app-new-account> -->

  <!-- Router Example START-->
  <!-- <div class="row p-5">
    <div class="col-xl-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/servers" routerLinkActive="active"
            >servers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active"
            >Users</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row pl-5">
    <div class="col-xl-12">
      <router-outlet></router-outlet>
    </div>
  </div> -->
    <!-- Router Example END-->


  <!-- Observer Example Start-->
  <!-- <app-roots></app-roots> -->
  <!-- Observer Example End-->

    <!-- Observer Example Start-->
  <app-root-forms></app-root-forms>
  <!-- Observer Example End-->
</div>
